module {
  nvim {
    dotfiles link=#true
    packages {
      nodejs
      python-debugpy
      lldb
      lua-language-server
      ripgrep
      stylua
      tree-sitter-cli
    }
    pre_hooks {
      install_nvim.sh root=#true
    }
  }
}
