module {
  nvim {
    dotfiles link=#true
    packages {
      nodejs
      lldb
      ripgrep
      // tree-sitter-cli
    }
    pre_hooks {
      install_nvim.sh root=#true
    }
    post_hooks {
      post_nvim_install_hook.sh root=#true
    }
  }
}
