host {
  arch {
    modules {
      base
      c
      git
      fontconfig
      mango
      foot
      nvim
      python
      misc
      shell
      //damgr
    }
    services {
      NetworkManager
    }
  }
}
